// step_03_maps.scss

/* step_03_maps.css */ 

// maps(object)형태 
// (key:value, key:value, key:value);


// dict를 사용해보자
$color:(
  primary:#f06,
  basic:#0f6,
  sub1:#777,
  sub2:#890
  );

$font:(
  primary:#333,
  basic:#178,
  sub1:#9a0,
  sub2:#9a7
  );
// 맨 마지막에 ;을 붙여준다! 

//map의 형태를 가져와서 사용할 경우, map-get이라는 명령어를 써준다. 
// map-get();
// map-get(변수이름, 변수의 내부에 있는 속성명);

li{background-color:map-get($color, primary);
  color:map-get($font, basic);}


